.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-left h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: -0.02em;
}

.header-right .header-login-button {
  padding: 0.7rem 1.5rem;
  background-color: #84888b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-right .header-login-button:hover {
  background-color: #5a5959;
}

.header-logo {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header-logo:hover {
  text-decoration: underline;
}